/* Also Organizers */

.speaker-gravatar-list {

  a {
    border: 0;
  }

  .avatar {
    border: 2px solid $lightest-blue;
    border-radius: 50%;

    &:hover {
      border-color: $light-blue;
    }

  }

}

.wcorg-organizer,
.wcb_speaker,
.wcorg-speaker {
  margin: 0 0 3em;

	.entry-meta {
    display: none;
  }

}

.wcorg-organizer-description,
.type-wcb_speaker,
.wcorg-speaker-description {
  @include clearfix;

  .avatar-default,
	.avatar {
		border: 2px solid $lightest-blue;
    border-radius: 50%;
    float: left;
    margin: .4em 1em 1em 0;
    pointer-events: none;
  }

}

.wcorg-speaker {
  h2 {
    margin-bottom: .2em;
  }
}

.wcorg-speakers {
  h2 {
    a {
			border-bottom: none;
		}
  }
}

.wcorg-speaker-description,
.type-wcb_speaker {

  .avatar {
    margin: 0 1em .5em 0;
  }

  p:first-of-type {
    padding-top: .3em;
  }

}

.wcorg-organizer-description {
  margin-top: 36px;
	position: relative;

  h3:first-of-type {
		color: $gray;
		font-size: 1em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: .05em;
    position: absolute;
    top: -50px;
  }

}