.wcb_widget_sponsors {
    text-align: left;

    .sponsor-level {
        overflow: hidden;
        margin: 0 -1em;
    }

    .sponsor-level-title {
        width: 100%;
		margin: 2em 0;
    }

    .sponsor-logo {
        box-shadow: none !important;
        padding: 0 1em;
        box-sizing: border-box;
        float: left;

        &:hover {
            opacity: .7;
        }

        img {
            // border-top: 1px solid rgba($color-black, 0.2);
            box-shadow: none;
            width: 100% !important;
            max-height: none !important;
        }
    }

    .sky {
		.sponsor-level-title {
			color: $secondary-color;
			border-bottom: 2px solid $secondary-color;
		}
        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }
        }
    }

    .summit {
		.sponsor-level-title {
			color: $primary-color;
			border-bottom: 2px solid $primary-color;
		}
        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 3);
            }
        }
    }

    .land {
		.sponsor-level-title {
			color: $terciary-color;
			border-bottom: 2px solid $terciary-color;
		}
        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 4);
            }
        }
    }

    .sand {
		.sponsor-level-title {
			color: $primary-color;
			border-bottom: 2px solid $primary-color;
		}
        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 5);
            }
        }
	}
	
	.sea {
		.sponsor-level-title {
			color: $secondary-color;
			border-bottom: 2px solid $secondary-color;
		}
        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 6);
            }
        }
    }
}
