.wcb_widget_sponsors {
    text-align: left;

    .sponsor-level {
        overflow: hidden;
        margin: 0 -1em;
    }

    .sponsor-level-title {
        width: 100%;
        margin: 2em 0;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .15em;
    }

    .sponsor-logo {
        box-shadow: none !important;
        padding: 0 1em;
        box-sizing: border-box;
        float: left;

        &:hover {
            opacity: .7;
        }

        img {
            // border-top: 1px solid rgba($color-black, 0.2);
            box-shadow: none;
            width: 100% !important;
            max-height: none !important;
        }
    }

    .sky {
        .sponsor-level-title {
            color: $secondary-color;
            border-bottom: 2px solid $secondary-color;

            // &::before {
            //     content: "";
            //     display: inline-block;
            //     height: 125px;
            //     width: 125px;
            //     background-size: 125px 125px;
            //     background-image: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/sky.svg");
            //     background-repeat: no-repeat;
            //     background-position: 0px 16px;
            //     background-size: contain;
            // }

            &::before {
                content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/sky.svg");
                display: inline-block;
                width: 2em;
                padding-right: 0.5em;
            }
        }

        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }
        }
    }

    .summit {
        .sponsor-level-title {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;

            &::before {
                content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/summit.svg");
                display: inline-block;
                width: 2em;
                padding-right: 0.5em;
            }
        }

        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 3);
            }
        }
    }

    .land {
        .sponsor-level-title {
            color: $terciary-color;
            border-bottom: 2px solid $terciary-color;

            &::before {
                content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/land.svg");
                display: inline-block;
                width: 2em;
                padding-right: 0.5em;
            }
        }

        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 4);
            }
        }
    }

    .sand {
        .sponsor-level-title {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;

            &::before {
                content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/sand.svg");
                display: inline-block;
                width: 2em;
                padding-right: 0.5em;
            }
        }

        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 5);
            }
        }
    }

    .sea {
        .sponsor-level-title {
            color: $secondary-color;
            border-bottom: 2px solid $secondary-color;
            
            &::before {
                content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/sea.svg");
                display: inline-block;
                width: 2em;
                padding-right: 0.5em;
            }
        }

        .sponsor-logo {
            @media screen and (min-width: 30em) {
                width: calc(100% / 2);
            }

            @media screen and (min-width: 48em) {
                width: calc(100% / 6);
            }
        }
    }
}

/*
 * Sponsors Page
 */

.wcorg-sponsors {
    h2 {
        font-size: 26px !important;
        font-size: 1.625rem !important;
        text-transform: uppercase;
    }

    .wcorg-sponsor {
        margin-bottom: 3em;
        margin-top: 2em;
    }

    .wcorg-sponsor-level-sky h2,
    .wcorg-sponsor-level-sea h2 {
        border-bottom: 2px solid $blue;
        color: $blue !important;
    }

    .wcorg-sponsor-level-summit h2,
    .wcorg-sponsor-level-sand h2 {
        border-bottom: 2px solid $yellow;
        color: $yellow !important;
    }

    .wcorg-sponsor-level-land h2 {
        border-bottom: 2px solid $red;
        color: $red !important;
    }

    .wcorg-sponsor-level-sky h2 {
        &::before {
            content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/sky.svg");
            display: inline-block;
            width: 2em;
            padding-right: 0.5em;
        }
    }

    .wcorg-sponsor-level-summit h2 {
        &::before {
            content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/summit.svg");
            display: inline-block;
            width: 2em;
            padding-right: 0.5em;
        }
    }

    .wcorg-sponsor-level-land h2 {
        &::before {
            content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/land.svg");
            display: inline-block;
            width: 2em;
            padding-right: 0.5em;
        }
    }

    .wcorg-sponsor-level-sand h2 {
        &::before {
            content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/sand.svg");
            display: inline-block;
            width: 2em;
            padding-right: 0.5em;
        }
    }

    .wcorg-sponsor-level-sea h2 {
        &::before {
            content: url("https://wcvancouver.github.io/wcvancouver2018/docs/images/sea.svg");
            display: inline-block;
            width: 2em;
            padding-right: 0.5em;
        }
    }

}
