.site-footer {
    border: none;

    .wrap {
        padding: 2em 1.5em 1.5em;
    }
}

.wcb_widget_sponsors {
    display: none;
}

.home .wcb_widget_sponsors {
    display: block;
}

.widget-column {
    float: none !important;
    width: 100% !important;
    text-align: center;

    .wcb_widget_sponsors {
        max-width: 740px;
        margin: 0 auto;
        position: relative;

        &::before {
            // @include bigIndexBefore("Sponsors");

            // top: -.4em;
            // bottom: auto;
            @include border-title("Sponsors");
        }

        .widget-title {
            // @include bigIndexText;
            font-size: $header-font-size;

            @include section-title;
        }
    }
}

.site-info {
    width: 100%;
    border-top: 1px solid rgba($color-black, 0.5);
    float: none;
    text-align: center;
    padding-top: 30px;
    position: relative;

    a {
        position: relative;
    }

    &::before {
        z-index: 2;
        display: block;
        position: absolute;
        background: #fff;
        color: $color-green;
        font-size: 40px;
        line-height: 50px;
        content: "\f120";
        font-family: dashicons;
        text-indent: 0;
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: -25px;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.home {
    .widget_text {
        display: none;
    }
}

.jetpack_subscription_widget {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 0;
    position: relative;

    .widget-title {
        background-color: $blue;
        margin: 0;
        padding-bottom: 1rem;
    }

    #subscribe-text {
        background-color: $blue;
        margin: 0;
    }

    p {
        margin: 0;
    }

    #subscribe-email {
        margin: 1 0 1.5em;
        background-color: $blue;;
    }

    #subscribe-submit {
        text-align: right;
    }

    #blog_subscription-2:after {
        content: '';
        border: 2px solid $blue;
        position: relative;
        width: 100%;
        height: 100px;
        transform: translateY(-9.75em) translateX(12%);
    }
}
