/* Wrappers */

#after-header-wrapper,
#before-content,
#content-row-wrapper,
#after-content-wrapper,
#before-footer {
  @include container--fluid;

  margin: 2em auto;
}

/* Main Content */

#main {
	background: $white;
  padding: 1.5em 1em;

  @include min($sm) {
    padding: 2em;
  }

}

#container {
  @include container;

  @include min($md) {
    @include container(80%);
  }

}

#content-row-wrapper {
  .sidebar-row {
    #content-row-1 {

			@include min($md) {
				@include span(4 last);
			}

			display: block;

    }
  }
}

/* Pages */
.wcb_session-template-default,
.wcb_sponsor-template-default,
.wcb_speaker-template-default,
.page-template-default {

	#content-row .content-row.alpha {
		@include span(12);
		
		@include min($md) {
			@include span(8);
		}
	}

	#content-row-1 {
		@include span(12);

		@include min($md) {
			@include span(4 last);
		}
	}
}

/* Sidebar conditional */

body.blog,
body.single-post {
  #content-row-wrapper {
    .sidebar-row {

      #main {
				background: transparent;
        padding: 0;
      }

      #container {
        @include span(12);

        @include min($md) {
          @include span(8);
          @include push(0);
        }

        background: $white;

        #content {
          padding: 1.5em 2em;
        }

      }

      .widget-area {
        @include span(12);

        @include min($md) {
          @include span(4 last);
        }

        display: block;
      }

    }
  }
}