.widget-column {
    float: none !important;
    width: 100% !important;
    text-align: center;

    .wcb_widget_sponsors {
        max-width: 740px;
        margin: 0 auto;
        position: relative;

        &::before {
            // @include bigIndexBefore("Sponsors");

            // top: -.4em;
            // bottom: auto;
            @include border-title("Sponsors");
        }

        .widget-title {
            // @include bigIndexText;
            font-size: $header-font-size;

            @include section-title;
        }
    }
}

