$base-color: #B3D6D3;
$color-brown: #682C2C;
$color-orange: #DB6446;
$color-lilac: #B484B8;
$color-green: #34AFA5;
$color-black: #131E24;
$color-white: #ffffff;

$video-size: 700px;

$header-font-size: 24px;

$white  : #FFFFFF;
$yellow : #FFD200;
$blue   : #40c0f0;
$grey-dark  : #231F20;
$black  : #000000;
$red    : #Da3223;

$primary-color : $yellow;
$secondary-color    :   $blue;
$terciary-color :   $red;

$logo-color : $grey-dark;
$body-color : $black;
